*~
*.class

gridsim/GridSim_stat.txt
gridsim/sim_report
gridsim/sim_trace
gridsim/tmp/*

simgrid-masterslave/tmp/*

simgrid-goal/goal_test
simgrid-goal/platform.xml
simgrid-goal/tmp/*simgrid-masterslave/masterslave_mailbox_deployment.xml
simgrid-goal/tmp/
